<h1>Ngx-SweetAlert2</h1>

<h3>
  Using the <code>[swal]="swalRef"</code> syntax with a
  <code>&lt;swal #swalRef&gt;&lt;/swal&gt;</code> component
</h3>
<!-- 
<button [swal]="swal1">Show modal good</button>
<swal
  #swal1
  title="Hello world!"
  text="How's the world going?"
  icon="question"
></swal> -->

<hr />
<button (click)="tinyAlert()">Simple Notification</button>
<button (click)="successNotification()">Sucess Notification</button>
<button (click)="alertConfirmation()">Show me Confirmation</button>
<button (click)="sweetwithbtn()">sweetwithbtn</button>
<button (click)="checkGithubUsers()">check Github Users</button>
